language: generic

sudo: required

services:
  - docker

git:
  depth: 10

# don't re-build for tags so that [publish binary] is not re-run
# https://github.com/travis-ci/travis-ci/issues/1532
branches:
  except:
    - /^[0-9]/

matrix:
  include:
    # ARM Linux (LTS)
    - os: linux
      env:
      - NODE_VERSION="10"
      - ARCH="arm"
      - DOCKCROSS="linux-armv6"
    - os: linux
      env:
      - NODE_VERSION="8"
      - ARCH="arm"
      - DOCKCROSS="linux-armv6"
    # x64 Linux (LTS)
    - os: linux
      env:
      - NODE_VERSION="10"
      - ARCH="x64"
      - DOCKCROSS="linux-x64"
    - os: linux
      env:
      - NODE_VERSION="8"
      - ARCH="x64"
      - DOCKCROSS="linux-x64"
    # x64 macOS (LTS)
    - os: osx
      env:
      - NODE_VERSION="10"
      - ARCH="x64"
      - DOCKCROSS=""
    - os: osx
      env:
      - NODE_VERSION="8"
      - ARCH="x64"
      - DOCKCROSS=""

before_install:
  - git show -s --format=%B $TRAVIS_COMMIT | tr -d '\n' > ./.commit_message
  - export PUBLISHABLE=${PUBLISHABLE:-true}
  - export COVERAGE=${COVERAGE:-false}
  - scripts/validate_tag.sh

install:
  - >
    if [[ $TRAVIS_OS_NAME == "linux" ]]; then
      docker run --rm dockcross/${DOCKCROSS} > ./dockcross
      chmod +x ./dockcross
    fi

before_script:
  # docker args
  - export DOCKCROSS_ARGS="${DOCKCROSS_ARGS} -e NODE_PRE_GYP_GITHUB_TOKEN=${NODE_PRE_GYP_GITHUB_TOKEN}"
  - export DOCKCROSS_ARGS="${DOCKCROSS_ARGS} -e PUBLISHABLE=${PUBLISHABLE}"
  - export DOCKCROSS_ARGS="${DOCKCROSS_ARGS} -e COVERAGE=${COVERAGE}"
  - export DOCKCROSS_ARGS="${DOCKCROSS_ARGS} -e ARCH=${ARCH}"

script:
  - >
    if [[ $TRAVIS_OS_NAME == "linux" ]]; then
      # bash commands are performed inside the dockcross container
      ./dockcross bash -c "./scripts/install_node.sh ${NODE_VERSION} && ./scripts/build_against_node.sh"
    elif [[ $TRAVIS_OS_NAME == "osx" ]]; then
      ./scripts/install_node.sh ${NODE_VERSION} && ./scripts/build_against_node.sh
    fi
